.header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px;
}

.header-logo {
    width: 30%;
}

.nav-list > * {
    display: inline;
    list-style-type: none;
}

/* Hero */

.hero-img {
    width: 100vw;
    text-align: center;
}

.banner-img {
    width: 90%;
}

/* Body */

.body-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Footer */

.main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}